<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
</head>


<body>
    <div>
        <nav>
            <ul>
                <li><a href="/hits-student">task 1</a></li>
                <li><a href="/shitso">task 2</a></li>
            </ul>
        </nav>
    </div>
</body>

</html>